server:
  port: 8080

spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false

app:
  hbase:
    quorum: 192.168.220.102
    # docker-compose maps host 2182 -> container 2181
    port: 2181
    # znodeParent: /hbase
