<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ivera.mapper.ChannelBillMapper">

    <resultMap id="BaseResultMap" type="cc.ivera.entity.ChannelBill">
        <id column="id" property="id"/>
        <result column="bill_date" property="billDate"/>
        <result column="channel_code" property="channelCode"/>
        <result column="payment_app_id" property="paymentAppId"/>
        <result column="bill_type" property="billType"/>
        <result column="bill_source" property="billSource"/>
        <result column="status" property="status"/>
        <result column="record_count" property="recordCount"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="bill_hash" property="billHash"/>
        <result column="file_name" property="fileName"/>
        <result column="bill_content" property="billContent"/>
        <result column="import_time" property="importTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectPageByConditions" resultMap="BaseResultMap">
        select id, bill_date, channel_code, payment_app_id, bill_type, bill_source, status,
               record_count, total_amount, bill_hash, file_name, import_time, create_time, update_time
        from t_channel_bill
        <where>
            <if test="billDateStart != null">
                and bill_date >= #{billDateStart}
            </if>
            <if test="billDateEnd != null">
                and bill_date &lt;= #{billDateEnd}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and channel_code = #{channelCode}
            </if>
            <if test="billSource != null and billSource != ''">
                and bill_source = #{billSource}
            </if>
        </where>
        order by bill_date desc, id desc
    </select>

    <select id="selectByUniqueKey" resultMap="BaseResultMap">
        select *
        from t_channel_bill
        where bill_date = #{billDate}
          and channel_code = #{channelCode}
          <choose>
              <when test="paymentAppId != null">
                  and payment_app_id = #{paymentAppId}
              </when>
              <otherwise>
                  and payment_app_id is null
              </otherwise>
          </choose>
          <choose>
              <when test="billType != null and billType != ''">
                  and bill_type = #{billType}
              </when>
              <otherwise>
                  and bill_type = 'ALL'
              </otherwise>
          </choose>
        limit 1
    </select>

</mapper>
