<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.ivera.userdemo.repo.UserPhoneIndexMapper">

  <insert id="upsert" parameterType="map">
    INSERT INTO ${table} (tenant_id, phone, uid, updated_at)
    VALUES (#{tenantId}, #{phone}, #{uid}, NOW())
    ON DUPLICATE KEY UPDATE uid = VALUES(uid), updated_at = NOW()
  </insert>

  <select id="selectByPhone" parameterType="map" resultType="cc.ivera.userdemo.domain.UserIndex">
    SELECT tenant_id AS tenantId, phone AS `key`, uid, updated_at AS updatedAt
    FROM ${table}
    WHERE tenant_id = #{tenantId} AND phone = #{phone}
    LIMIT 1
  </select>

  <select id="selectUidByPhone" parameterType="map" resultType="java.lang.Long">
    SELECT uid
    FROM ${table}
    WHERE tenant_id = #{tenantId}
      AND phone = #{phone}
      LIMIT 1
  </select>



</mapper>
